@mixin btnColor($color) {
  color: $white-color;
  background-color: $color;
  border: 2px solid $color;
  &:hover {
    background-color: transparent;
    color: $color;
    border: 2px solid $color;
  }
  &.inverse {
    background-color: transparent;
    color: $color;
    &:hover {
      background-color: $color;
      color: $white-color;
    }
  }

}

.btn {
  border-radius: $border-radius-super-extreme;
  font-weight: 600;

  &.btn-primary {
    @include btnColor($primary-color);
  }
  &.btn-primary-bright {
    @include btnColor($primary-bright-color);
  }
}

.arrow-link {
  display: block;
  height: 25px;
  width: 25px;
  background: url("/static/img/arrow.png") center center no-repeat;
  background-size: contain;

  &:hover {
    background: url("/static/img/hover-arrow.png") center center no-repeat;
    background-size: contain;
  }
}
