.page-footer {
  background-color: $footer-color;
  height: 450px;
  width: 100%;
  .container-global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer-nav-bar {
      margin: auto 0;
      .footer-logo{
        margin-top: 20px;
      }
    }

    .copyright{
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    @media (max-width: 768px) {
      .footer-logo, .footer-info{
        text-align: center;
        padding-top: 20px;
      }
      .copyright{
        justify-content: center;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-header {
      margin-left: 5px;
    }
  }
}

.nav-vertical {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        display: block;
        font-weight: 600;
        font-size: 1.8rem;
        color: $dark-color;
      }
    }
}
