@font-face {
  font-family: 'AvantGardeGothicC-Demi';
  src: url('../fonts/avantgardegothicc.otf') format('otf'),
  url('../fonts/AvantGardeGothicC-Demi.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

body {
}

.container-global {
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

@media (min-width: 988px) {
  .container-fluid, .container-global {
    padding: 0 50px;
  }
}

.bg-gradient-left {
  background: $gradient-left;
}
.bg-gradient-right {
  background: $gradient-right;
}
.bg-gradient-top {
  background: $gradient-top;
}
.bg-gradient-bottom {
  background: $gradient-bottom;
}

.vertical-align {
  display: flex;
  align-items: center;
}


