.top-nav-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: $white-bg;
  box-shadow: 4px -2px 22px -4px $black-color;

  .container-fluid {
    border-bottom: $border-light;
    height: 51px;

    .navbar-brand {
      margin-bottom: -1px;
      padding: 15px 1px;
      color: $dark-color;
    }

    #main-logo {
      padding: 5px 0;

      img {
        max-height: 100%;
        background: center center;
      }
    }

    #sub-logo {
      margin: 1px 20px 0;
      font-weight: 600;
      &:hover{
        background-color: #eee;
        border-bottom: 2px solid $nav-color;
      }
      &.router-link-exact-active {
        border-bottom: 2px solid $primary-underline;
      }
    }

    .nav {
      .general-link {
        margin: 7px 8px 7px 60px;
        font-weight: 600;
      }

      > li > a {
        margin-top: -1px;
        font-weight: 600;
        color: $nav-color;

        &.router-link-exact-active, &.router-link-active {
          border-bottom: 2px solid $primary-underline;
        }
        &:hover{
          background-color: #eee;
          color: $dark-color;
          border-bottom: 2px solid $nav-color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-header {
      margin-left: -5px;
    }
  }
}
