.top-nav-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: $white-bg;
  box-shadow: 4px -2px 22px -4px $black-color;
  .desktop-menu {
    .container-fluid {
      border-bottom: $border-light;
      height: 51px;

      .navbar-brand {
        margin-bottom: -1px;
        padding: 15px 1px;
        color: $dark-color;
      }

      .main-logo {
        padding: 5px 0;

        img {
          max-height: 100%;
          background: center center;
        }
      }

      .sub-logo {
        font-size: 1.6rem;
        margin: 1px 18px 0;
        font-weight: 700;
        &:hover {
          background-color: $nav-item-hover;
          border-bottom: 2px solid $nav-color;
        }
        &.router-link-exact-active {
          border-bottom: 2px solid $primary-underline;
        }
      }

      .nav {
        .general-link {
          margin: 7px 8px 7px 60px;
          font-weight: 600;
          @media (max-width: 988px) {
            margin: 7px;
          }
        }

        > li > a {
          margin-top: -1px;
          font-weight: 300;
          color: $nav-color;

          &.router-link-exact-active, &.router-link-active {
            border-bottom: 2px solid $primary-underline;
          }
          &:hover {
            background-color: $nav-item-hover;
            color: $dark-color;
            border-bottom: 2px solid $nav-color;
          }
        }
      }
    }
  }

  .mobile-menu {
    display: none;
    .container-fluid {
      border-bottom: $border-light;
      height: 51px;
      //transition: all 0.3s linear;

      .navbar-brand {
        margin-bottom: -1px;
        padding: 15px 1px;
        color: $dark-color;
      }

      .sub-logo {
        font-size: 1.6rem;
        margin: 1px 0 0;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        &:hover {
          background-color: $nav-item-hover;
        }
        &.router-link-exact-active {
          border-bottom: 2px solid $primary-underline;
        }
      }

      .burger-menu {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        .burger {
          position: absolute;
          background: $dark-color;
          width: 60%;
          height: 6px;
          top: 50%;
          right: 15px;
          margin-top: -5px;
          opacity: 1;
          &::before {
            position: absolute;
            background: $dark-color;
            width: 100%;
            height: 6px;
            top: 10px;
            content: "";
            display: block;
          }
          &::after {
            position: absolute;
            background: $dark-color;
            width: 100%;
            height: 6px;
            bottom: 10px;
            content: "";
            display: block;
          }
          &::after, &::before, & {
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
          }
        }
        &.menu-on {
          .burger::after {

            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            bottom: 0px;
          }
          .burger::before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            top: 0px;
          }
          .burger {
            background: rgba(111, 111, 111, .0);
          }
        }
      }
      .collapse-menu {
        transform: rotateX(359deg);
        visibility: hidden;
        opacity: 0;
        .nav {
          .general-link {
            margin: 7px;
            font-weight: 600;
          }
          text-align: center;
          > li > a {
            margin-top: -1px;
            font-weight: 300;
            color: $nav-color;

            &.router-link-exact-active, &.router-link-active {
              color: $primary-color;
            }
          }
        }
        //transition: all 0.4s linear 0.45s;
      }

      &.active {
        height: 258px;
        transition: all 0.4s linear;
        .collapse-menu {
          opacity: 1;
          visibility: visible;
          transition: all 0.4s linear 0.4s;
        }
      }
    }
  }

  &.dark {
    background-color: $dark-nav;

    .desktop-menu {

      .container-fluid {
        height: 51px;
        border-bottom: none;

        .navbar-brand {
          padding: 5px 0;
          color: $white-color;
        }

        .main-logo {
          padding: 5px 0;

          img {
            max-height: 100%;
            background: center center;
          }
        }

        .nav {
          > li > a {
            margin-top: -1px;
            font-weight: 300;
            height: 51px;
            color: $white-color;
            &.sub-logo {
              margin: 0;
              font-size: 1.6rem;
              font-weight: 600;
            }

            &.brand-link {
              width: 50px;
              text-align: center;
              font-size: 2.2rem;
            }

            &.profile-logo {
              width: 50px;
              text-align: center;
              height: 51px;
              background: url('/static/img/profile-logo.png') center center no-repeat;
              background-size: 24px 24px;

              &:hover {
                background: $nav-item-hover url('/static/img/profile-logo-dark.png') center center no-repeat;
              }
            }

            &.router-link-exact-active, &.router-link-active {
              border-bottom: 2px solid $primary-underline;
            }

            &:hover {
              background-color: $nav-item-hover;
              color: $dark-nav;
              border-bottom: 2px solid $nav-color;
            }
          }
        }
      }
    }

    .mobile-menu {
      display: none;
      .container-fluid {
        height: 51px;
        border-bottom: none;

        .navbar-brand {
          padding: 5px 0;
          color: $white-color;
        }
        .main-logo {
          padding: 5px 0;

          img {
            max-height: 100%;
            background: center center;
          }
        }

        .burger-menu {
          .burger {
            background: $white-color;
            &::before, &::after {
              background: $white-color;
            }
          }
          &.menu-on {
            .burger {
              background: $dark-nav;
            }
          }
        }
        .collapse-menu {
          visibility: hidden;
          opacity: 0;
          .nav > li > a {
            width: 100%;
            height: 42px;
            text-align: center;
            margin-top: -1px;
            font-weight: 300;
            color: $white-color;
            &.sub-logo {
              width: 100%;
              margin: 0;
              font-size: 1.6rem;
              font-weight: 600;
            }

            &.brand-link {
              width: 100%;
              text-align: center;
              font-size: 2rem;
              line-height: 0;
            }

            &.profile-logo {
              width: 100%;
              text-align: center;
              background: url('/static/img/profile-logo.png') center center no-repeat;
              background-size: 24px 24px;

              &:hover {
                background: $nav-item-hover url('/static/img/profile-logo-dark.png') center center no-repeat;
              }
            }
            &:hover {
              background-color: $nav-item-hover;
              color: $dark-nav;
            }
          }
        }

        &.active {
          height: 261px;
          transition: all 0.4s linear;
          .collapse-menu {
            opacity: 1;
            visibility: visible;
            transition: all 0.4s linear 0.4s;
          }
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .top-nav-bar, .top-nav-bar.dark {
    .navbar-header {
      margin-left: -5px;
    }
    .desktop-menu {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
  }
}
