.promo-boards-wrapper {
  display: flex;
  flex-flow: row wrap;
  .promo-board {
    position: relative;
    height: 555px;
    background: #060E1B center center;
    background-size: cover;
    color: $white-color;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .details-line {
      display: flex;
      .details-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link-block {
          align-self: flex-end;
        }
        .text-block {
          align-self: flex-start;
        }
      }
    }

    &.small {
      width: 50%;
      align-items: flex-start;
      .details-line {
        height: 65px;
        width: 100%;
        background: $gradient-left;
        align-items: center;
        &:hover {
          height: 100%;
          width: 100%;
          padding: 20px 50px;
          transition: width 0.5s, padding 1s, height 0.5s ease 0.5s;
          position: relative;
          z-index: 11;
          @media (max-width: 768px) {
            width: 100%;
            &.container-global {
              padding: 20px 15px;
            }
          }
          .details-content {
            height: 100%;
            transition: height 1s;
          }
        }
      }
    }

    &.big {
      width: 100%;
      align-items: flex-end;

      .details-line {
        height: 250px;
        width: 33%;
        min-width: 350px;
        background: $gradient-bottom;
        align-items: flex-end;
        justify-content: space-between;
        &.container-global {
          padding: 15px 25px;
          @media (max-width: 768px) {
            padding: 0 15px;
          }
        }
        &:hover {
          height: 100%;
          width: 50%;
          padding: 20px 50px;
          transition: width 0.5s, padding 1s, height 0.5s ease 0.5s;
          position: relative;
          z-index: 11;
          @media (max-width: 768px) {
            width: 100%;
            &.container-global {
              padding: 20px 15px;
            }
          }
          .details-content {
            height: 100%;
            transition: height 1s;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .promo-boards-wrapper .promo-board {
    &.small, &.big {
      width: 100%;
      align-items: flex-start;
      .details-line {
        height: 65px;
        width: 100%;
        min-width: 300px;
        background: $gradient-left;
        align-items: center;
      }
    }
  }
}

.match-parent {

}
