.slider-full {
  height: 620px;
  overflow: hidden;
  position: relative;
  color: $white-color;
  .slider-navigation {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    .navigation-btn {
      color: $white-color;
      font-size: 2rem;
      margin: 5px 20px;
      cursor: pointer;
      font-weight: 400;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid #50FFD2;
      }
      &.active-slide {
        border-bottom: 1px solid #50FFD2;
      }
    }
  }
  &:hover {
    .slide-arrow {
      opacity: 1;
      transition: opacity 1s;
    }
  }
  .slider-container {
    position: absolute;
    width: 100%;
    padding: 40px 30px;
    height: 100%;
    background: $black-color center left no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .slider-header {
      width: 100%;
      text-align: left;
    }
    .slider-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 45%;
      min-width: 300px;
      text-align: justify;
      .content-title {
        padding: 70px 0 55px;
      }
    }
  }
}

.slider-small {
  display: flex;
  align-items: flex-start;
  padding: 20px 30px;
  min-height: 690px;
  overflow: hidden;

  .slider-nav-menu {
    width: 340px;
    h3 {
      margin: 35px 0;
    }
    ul.nav-vertical {
      li {
        a {
          cursor: pointer;
          margin-bottom: 10px;
          font-weight: 300;
          color: $font-color;
          &.active-slide {
            font-weight: 400;
          }
        }
      }
    }
  }

  .slider-container {
    width: 540px;
    overflow: hidden;
    min-height: 690px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    .slider-navigation {
      padding: 50px 0 31px;
      display: flex;
      a.navigation-btn {
        display: block;
        width: 30px;
        height: 4px;
        margin-right: 10px;
        background-color: #CCCCCC;
        transition: all 0.3s linear;
        &.active-slide {
          background-color: #7F7F7F;
        }
        &:hover {
          background-color: #929292;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .slide-arrow {
      top: 85px;
      height: 366px;
    }
    &:hover {
      .slide-arrow {
        opacity: 1;
      }
    }

    .slider-slide {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      .slider-img {
        display: block;
        height: 366px;
        background: $black-color center center no-repeat;
        background-size: cover;
      }
      .slider-content {
        padding: 10px 0;
      }
    }
  }
}

//animations
.slide-fade-left-enter-active, .slide-fade-right-enter-active {
  transition: all .4s linear;
}

.slide-fade-left-leave-active, .slide-fade-right-leave-active {
  transition: all 0.4s linear;
}

.slide-fade-right-enter, .slide-fade-left-leave-to {
  transform: translateX(100%);
  opacity: 0.2;
}

.slide-fade-left-enter, .slide-fade-right-leave-to {
  transform: translateX(-100%);
  opacity: 0.2;
}

//slider-arrows
.slide-arrow {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  width: 75px;
  cursor: pointer;
  transition: opacity 0.6s;
  &.arrow-previous {
    left: 0;
    background: linear-gradient(to right,
      rgba(246, 251, 244, 0.30),
      rgba(197, 221, 232, 0));

  }
  &.arrow-next {
    right: 0;
    background: linear-gradient(to left,
      rgba(246, 251, 244, 0.30),
      rgba(197, 221, 232, 0));
  }
  .arrow {
    background-color: transparent;
    font-size: 4rem;
    border: none;
    color: rgba(246, 251, 244, 0.80);
    border-radius: 50%;
    &:focus {
      outline: none;
      border: none;
    }
  }
}

@media screen and (max-width: 769px) {
  .slider-small {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    min-height: 690px;
    overflow: hidden;

    .slider-nav-menu {
      width: 320px;
      h3 {
        margin: 15px;
      }
      ul.nav-vertical {
        display: none;
      }
    }

    .slider-container {
      width: 100%;
      min-height: 690px;
      align-items: center;

      .slider-navigation {
        padding: 15px;
      }
      .slide-arrow {
        top: 34.6px;
        height: 366px;
      }
      &:hover {
        .slide-arrow {
          opacity: 1;
        }
      }

      .transition {
        width: 100%;
      }
      .slider-slide {
        .slider-content {
          padding: 10px 15px;
        }
      }
    }
  }
}

// info-boxes
/*.info-section
    .info-header
      h3.weight-3 {{title}}:
    .boxes-container
      .small-info-box(v-for="box in slides")
        .title-block
          h3.weight-3 {{box.title}}
        .button-block
          a.showBox(@click="openSlide(box.id)")
      .big-info-box(v-if="showBox")
        .close-block
          a.close-btn(@click="closeSlide")
        .navigation-block
          a.previos(@click="previousSlide")
          a.next(@click="nextSlide")
        transition-group(:name="animationName" mode="in-out")
          .boxs-container(v-for="slide in slides", :key='slide.id', v-if="slide.id === slideId")
            .box-header
              h4.weight-3 {{slide.title}}
            .box-content
              .text-block
                p {{slide.text}}
              .img-block
                img(:src="slide.bgImg")*/
.info-section {
  padding: 70px 10px 45px;
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
  .info-header {
    min-width: 290px;
    text-align: center;
  }
  .boxes-container {
    max-width: 900px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    .small-info-box {
      background: $white-color;
      color: #3b5998;
      width: 300px;
      height: 300px;
      padding: 0 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 0.5px solid #9B98A1;
      &:hover {
        color: $white-color;
        background: $gradient-top;
        .button-block {
          .show-button{
            color: $white-color;
            border: 2px solid $white-color;
            a {
              color: $white-color;
            }
          }
        }
        //transition: all 1s linear;
      }

      .button-block {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: $primary-bright-color;
        .show-button {
          cursor: pointer;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            line-height: 30px;
            font-weight: 300;
            font-size: 36px;
            &:hover {
              text-decoration: none;
            }
          }
          border-radius: 50%;
          border: 2px solid $primary-bright-color;
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-top: none;
      }
      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3) {
        border-bottom: none;
      }
      &:nth-child(3n), &:nth-last-child(1) {
        border-right: none;
      }
      &:nth-last-child(3n), &:nth-child(1) {
        border-left: none;
      }
    }
    .big-info-box {
      padding: 20px 30px;
      background-color: $white-color;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      .close-block {
        margin-right: 15px;
        position: absolute;
        z-index: 2;
        right: 0;
        display: flex;
        align-items: flex-start;
        color: $primary-bright-color;
        .close-button {
          transform: rotate(45deg);
          cursor: pointer;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            line-height: 1;
            font-weight: 300;
            font-size: 36px;
            &:hover {
              text-decoration: none;
            }
          }
          border-radius: 50%;
          border: 2px solid $primary-bright-color;
        }
      }
      .navigation-block {
        position: absolute;
        z-index: 2;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        color: $primary-bright-color;
        a {
          background: url("/static/img/arrow-blue.jpg") center center no-repeat;
          background-size: contain;
          display: block;
          cursor: pointer;
          width: 32px;
          height: 24px;
          margin: 15px 7.5px;
          &.previous {
            transform: rotate(180deg);
          }
        }
      }
      .box-container {
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .box-header {
          padding-right: 20px;
          width: 100%;
          min-width: 290px;
          max-width: 375px;
        }
        .box-content {
          width: 100%;
          max-width: 400px;
          display: flex;
          flex-direction: column;
          .img-block {
            padding-top: 28px;
            margin-top: 20px;
            border-top: 1px solid #D4CACB;
            img {
              max-width: 100%;
            }
          }
        }
      }
    }
  }

}

/*h3.weight-3 {{title}}:
                     .boxes-container
                     .small-info-box(v-for="box in slides")
.title-block
h3.weight-3 {{box.title}}
.button-block
a.showBox(@click="openSlide(box.id)")
.big-info-box(v-if="showBox")
.close-block
a.close-btn(@click="closeSlide")
.navigation-block
a.previos(@click="previousSlide")
a.next(@click="nextSlide")
transition-group(:name="animationName" mode="in-out")
.boxs-container(v-for="slide in slides", :key='slide.id', v-if="slide.id === slideId")
.box-header
h4.weight-3 {{slide.title}}
.box-content
.text-block
p {{slide.text}}
.img-block
img(:src="slide.bgImg")*/
