.demo-stories-wrapper {
  display: flex;
  flex-flow: row wrap;
  .demo-story {
    height: 690px;
    width: 100%;
    //border-bottom: 1px solid $dark-gray;
    &:nth-child(2n+1) {
      border-right: none;
    }
    .story-img {
      background: url("/static/img/substrate.png") center center;
      background-size: cover;
      height: 50%;
    }
    .story-content {
      padding: 5px;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .story-title {
        text-align: left;
      }
      .story-link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 40px;
      }
    }
    @media (min-width: 768px) {
      width: 50%;
      .story-img {
      }
      .story-content {
        padding: 10px 20px;
      }
      &:nth-child(2n+1) {
        .story-img {
          border-right: 1px solid #dfe0e2;
        }
      }
      &:nth-child(2n) {
        .story-img {
          border-left: 1px solid #dfe0e2;
        }
      }
    }
  }
}

.story-section {
  padding-top: 30px;
  padding-bottom: 30px;

  .story-header-info {
    padding: 10px 0;
    /*border-top: 2px solid $dark-light-gray;
    border-bottom: 2px solid $dark-light-gray;*/
  }

  .story-main {

    .text-section {

      h4 {
        margin: 50px 0 15px;
      }
    }
  }
}

